@using Birk.Client.Bestilling.Utils.Constants

<MudPaper Class="panel-paper">
        @foreach (var component in PanelModel.GUIComponents)
        {
            <MudItem Class=@component.GUIType.ToString().ToLower()>
                @switch (component.GUIType)
                {
                    case GUIType.Question:
                        <p>@component.Items[0]</p>
                        break;
                    case GUIType.Description:
                        <p>@component.Items[0]</p>
                        break;
                    case GUIType.Label:
                        <p>@component.Items[0]</p>
                        break;
                    case GUIType.Dropdown:
                        <Dropdown Items="@component.Items" />
                        break;
                    case GUIType.TextBox:
                        <MudTextField T="string" Variant="Variant.Text" Text="@_textField" Lines="5" />
                        break;                    
                    case GUIType.RadioGroup:
                        <MudRadioGroup @bind-SelectedOption="@_placement">
                            @foreach (var item in component.Items)
                            {
                                <MudRadio Color="Color.Primary" Option="@(Placement.Top)">@item</MudRadio>
                            }
                        </MudRadioGroup>
                        break;
                }
            </MudItem>
        }

</MudPaper>

@code {
    [Parameter]
    public PanelModel PanelModel { get; set; }

    private string _textField = "Some text";
    private Placement _placement = Placement.Top;

    protected override void OnInitialized()
    {
        InitializePanel();
        base.OnInitialized();
    }

    private void InitializePanel()
    {

    }
}
